{% load static %}

<!-- Right content -->
<div class="col-lg-4">
  {% for random_post in random_posts %}
    <div class="trand-right-single d-flex">
      <div class="trand-right-img">
        <img src="{{ random_post.featured_image.url }}"
             alt="{{ random_post.title }}"
             width="130px"/>
      </div>
      <div class="trand-right-cap">
        <span class="color1">{{ random_post.category.name }}</span>
        <h4>
          <a href="{% url 'post-detail' random_post.pk %}">{{ random_post.title }}</a>
        </h4>
      </div>
    </div>
  {% endfor %}
</div>
